<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
  </head>
  <body>
    <div>
      <div id="header">{% block header %}{% endblock %}</div>
      <div id="content">{% block content %}{% endblock %}</div>
      <div id="footer">{% block footer %}{% endblock %}</div>
    </div>
    <script>
      let menuicn = document.querySelector(".menuicn");
      let nav = document.querySelector(".navcontainer");

      menuicn.addEventListener("click", () => {
        nav.classList.toggle("navclose");
      });
      $(document).ready(function () {
        // add active class to student login tab and remove it from admin login tab
        $("#student-login-tab").click(function () {
          $(this).addClass("active");
          $("#admin-login-tab").removeClass("active");
        });

        // add active class to admin login tab and remove it from student login tab
        $("#admin-login-tab").click(function () {
          $(this).addClass("active");
          $("#student-login-tab").removeClass("active");
        });
      });
      function myFunction() {
        // code to be executed when the button is clicked
        alert("Button clicked!");
      }
      $(".continue").click(function () {
        $(".nav-tabs > .active").next("li").find("a").trigger("click");
      });
      $(".back").click(function () {
        $(".nav-tabs > .active").prev("li").find("a").trigger("click");
      });
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
